<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="sb-nav-fixed">
<footer class="py-4 bg-light mt-auto" th:fragment="fragment-footer">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">요소수소문 ⓒ 2022. Jerry92k all rights reserved.
                    <a href="https://github.com/jerry92k">
                        <i class="fab fa-github" style="font-size:27px;color:cadetblue"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
