<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="sb-nav-fixed">
<footer class="py-4 bg-light mt-auto" th:fragment="fragment-footer">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">created by jerry
                <a href="https://jerry92k.tistory.com/">블로그 주소</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>