<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="sb-nav-fixed">
<footer class="py-4 bg-light mt-auto" th:fragment="fragment-footer">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">요소수소문 ⓒ 2021. Jerry92k all rights reserved.
                    <a href="https://donaricano.com/creator/jerry92k" target="_blank">
                        <img
                                src="https://d1u4yishnma8v5.cloudfront.net/donarincano_gift.png"
                                alt="donaricano-btn"
                                style="height:35px; width: 100px;"
                        />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>