<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="sb-nav-fixed">
<div id="layoutSidenav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-light" th:fragment="fragment-nav">
        <a class="navbar-brand ps-3" href="/">요소수 맵</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav_nav" th:fragment="fragment-sidebar">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>
                        지도로 찾기
                    </a>
                    <a class="nav-link" href="/station-list">
                        <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                        목록 조회
                    </a>
                    <a class="nav-link" >
                        <div class="sb-nav-link-icon"><i class="fas fa-paper-plane"></i></div>
                        피드백을 기다립니다
                    </a>
                    <span style="padding-left: 30px; font-size: 13px;" >yssmap.broaden@gmail.com</span>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>