<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>요소수맵</title>
     <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
    <div th:replace="./fragments/header.html :: fragment-header"></div>

</head>
<body class="sb-nav-fixed">
<div id="layoutSidenav">

    <div th:replace="./fragments/sidebar.html :: fragment-nav"/>
    <div th:replace="./fragments/sidebar.html :: fragment-sidebar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <br />
                <h5 style="font-weight: bold;color: cadetblue">주유소별 요소수 재고 현황</h5>
                <h7 style="color: darkgray" th:text="'마지막 업데이트 시각 : ' + ${gasStations[0].lastModfeDttm}"></h7>
                <br />
                <h7 style="color: darkgray">(방문 전 전화 확인을 추천합니다.)</h7>
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr class="table-row-head">
                                <td>주유소 정보</td>
                                <td>재고(ℓ)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="gasStation : ${gasStations}">
                                <td th:utext="'<span class=table-row-title>'+ ${gasStation.name} +'</span><br/>'
                                + '(주소) '+${gasStation.address} + '<br/>'
                                + '(전화) '+${gasStation.telNo}"></td>
                                 <td th:text="${gasStation.stocks}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <h7 style="color: darkgray">현황은 매일 2회 업데이트 됩니다.(반영시간: 14시, 20시)</h7>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="./fragments/footer.html :: fragment-footer"/>
    </div>
</div>

<script th:inline="javascript">
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple, {
            perPage: 200,
            perPageSelect: false,
            layout:{
                bottom:""
            }
        });
    }
</script>
<script src="/js/scripts.js"></script>
</body>
</html>
