<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IP 등록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="bg-second">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">IP 등록</h3></div>
                            <div class="card-body">
                                <form th:action="@{'/users/' + ${user.employeeId}}" th:method="put">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" name="employeeId" id="inputEmployeeId"
                                                       type="text" th:value="${user.employeeId}" contenteditable="false"
                                                       readonly/>
                                                <label for="inputEmployeeId">사번</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" name="name" id="inputName" type="text"
                                                       th:value="${user.name}"/>
                                                <label for="inputName">이름</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="ip1" id="inputIp1" type="text"
                                               th:value="${user.ip1}"/>
                                        <label for="inputIp1">IP address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="ip2" id="inputIp2" type="text" th:value="${user.ip2}"/>
                                        <label for="inputIp2">IP address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="ip3" id="inputIp3" type="text" th:value="${user.ip3}"/>
                                        <label for="inputIp3">IP address</label>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input type="submit" class="btn btn-primary btn-block" value="수정"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
